h1, h2, h3, h4, p, li {
    font-family: 'Roboto', sans-serif;
}

/* background colour */
body {
    background-color: #1B1F25;
}

/* navbar */
/* Elements to line up next to each */
.inline-block {
    display: inline-block; /* navbar to line up next to each other */
    vertical-align: top; /* ensure all elements align next to one another */
}

/* fill the width of our container */
.logo {
    width: 20%;
    padding: 1%;
    text-align: center;
}

/* primary navidation */
/* Style the navbar 
nav {
    overflow: hidden;
    background-color: #11161C;
    width: 70%;
    padding: 1%;
    text-align: right;
} */

/* primary navidation */
/* Style the navbar */
.navBar {
    background-color: #11161C;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

/* Styling navList */
.navList {
    list-style-type: none; /* remove bullet points */
}

/* Placing list items side by side */
/* Display nav list items side by sides */
.navList .navItem {
    display: inline-block; /*displaying side by side */
}

/* Primary Navigation 
.primaryNav {
    width: 50%; /* align unordered list in its container to the right 
    margin-left: auto;
} */

/* giving navigation menu padding 
.inline-block {
    padding-top: 1%;
    padding-right: 16px;
    padding-bottom: 1%;
    padding-left: 16px
}*/

/*  hero image  */
.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

/* My Skills */
/* Responsive using flex */
.flexContainer {
    display: flex;
    width: 100%;
}

.flexContainer div {
    width: 33%;
}

.flexContainer .container {
    width: 92%;
}

/* Card CSS*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: #ffffff;
    margin: 24px 8px 24px 8px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 8px 8px 0 0;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.container {
    padding: 8px 16px 8px 16px;
}

/* My Work */
/* Convert my work <section> tag into a grid container.*/
.workGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

/* Button Styling */
.buttonKeyline {
    border-radius: 25px;
    background-color: Transparent;
    border: 2px solid #CF9C98;
    padding: 8px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: #CF9C98;
    margin: 8px 8px 32px 8px;
  }

/* footer */
footer {
    background-color: #11161C;
    padding: center;
    text-align: center;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: center;
    color: #ffffff;
}

/* Mobile Media Query */
@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }

    .flexContainer div{
        width: 100%;    
    }
}