/* Globl */
* {
    box-sizing: border;
}

h1, h2, h3, h4, p, li {
    font-family: 'Maven Pro', sans-serif;
    line-height: 150%;
}

/* background colour */
body {
    background-color: #1B1F25;
    margin: 0px; /* removing default 8px margin */

}

/* primary navidation */

/* hamburger menu*/
.hamburgerBtn {
    position: relative;
    display: none;
    justify-content: center;
    align-items:center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1; /* to ensure it stays on top */
}

/*drawing the hamburger icon */
.menuBtnIcon,
.menuBtnIcon::before,
.menuBtnIcon::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.menuBtnIcon::before,
.menuBtnIcon::after {
    content: "";
    position: absolute;
}

.menuBtnIcon::before {
    transform: translateY(-0.5rem);
}

.menuBtnIcon::after {
    transform: translateY(0.5rem);
}

/* animation */
/* middle line in the hamburger will move two lines to the right and disappear */
.hamburgerBtn.open .menuBtnIcon {
    transform:translateX(2rem); 
    background-color: transparent;
}
/* top and bottom line from hamburger to form an X */
.hamburgerBtn.open .menuBtnIcon::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}

.hamburgerBtn.open .menuBtnIcon::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

/* Navigation hover */
.navList .listItem a:hover {
    color: #CF9C98;
}

/* align logo */
.logo img{
    height: 32px; 
    /* justify-content: space-around; */
    padding:1%;
    text-align: center;
    text-decoration: none;
}

.navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11161C;
    padding:0px 40px;
    height: 80px;
}

/* Sticky 
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

/* Navbar list*/
.navList {
    display: flex;
    list-style-type: none; /* removing bullet points from list */  
}

/* Navbar links */
.navList .listItem {
    display: inline-block; /* displaying list items side by side */
    padding: 24px 16px; /* giving navigation menu padding top bottom 24px left right 16px*/
} 

.navBar a {
    float: left;   
    color: #ffffff; /* all of the achor tags on the navBar white */
    text-decoration: none; /* removing underline */
}

/* Current page with a different colour in nagivation*/
.currentPg a {
    color: #CF9C98 !important;
    font-weight: 500;
}

/* Hamburger menu */


/*  hero section  */
.content {
    position: relative;
    height: calc(100vh - 200px);
    margin: 40px 80px;
}

/* about me */
.introduction {
    position: absolute;
    margin-top: calc(35vh - 200px);
    display: flex;
    flex-direction: column;
    width: 40%;
    color: #ffffff;
    line-height: 150%;
}

.heroImg img{
    position: absolute;
    right: 16px;
    width: 50%;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
}

/* My Skills Homepage */
.mySkills {
    background-color: #f2f2f2;
    padding: 24px 80px 16px 80px;
}

/* Responsive using flex */
.flexContainer {
    display: flex;
    width: 100%;
}

.flexContainer div {
    width: 90%;
    font-size: 14px;
}

.container {
    width: 100%;
    padding: 8px 24px;
}

/* My Projects Homepage */
.myProjects {
    background-color: #1B1F25;
    color: #ffffff;
    padding: 24px 80px 16px 80px;
}

.flexContainerProjects {
    display: flex;
    width: 100%;
}

.flexContainerProjects div {
    width: 90%;
    font-size: 14px;
}

/* Do I need above? */

/* About me */
/* Responsive using flex */
.flexContainerAbout {
    display: flex;
    width: 100%;
}

.flexContainerAbout div {
    width: 90%;
    font-size: 14px;
}

/* Card CSS*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: #ffffff;
    margin: 8px 8px 8px 8px;
}

.card a {
    text-decoration: none;
    color: #11161C;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 8px 8px 0 0;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* work CTA on card */
.workCTA {
    font-size: 14px;
    /*color: #1e90ff;*/
    color: #CF9C98;
    font-weight: 500;
}

/* My Work */
.myWork {
    background-color: #1B1F25;
    padding: 24px 80px 80px 80px;
    color: #ffffff;
}

.myWork .item1 img {
    border-radius: 8px 8px 8px 8px;
}

.myWork .item2 img {
    border-radius: 8px 8px 8px 8px;
}

.myWork .item3 img {
    border-radius: 8px 8px 8px 8px;
}

/* Convert my work <section> tag into a grid container.*/
.workGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

/* Button Styling */
.buttonKeyline {
    border-radius: 25px;
    background-color: Transparent;
    border: 2px solid #CF9C98;
    width: 200px;
    height: 50px;
    margin: 32px 8px 16px 8px;
}

.buttonKeyline a {
    text-decoration: none;
    font-size: 16px;
    color: #CF9C98;
    display: block;
    padding: 14px 8px;
}

/* Contact information */
.contactMe {
    background-color: #11161C;
}
.contact {
    color: #ffffff;
    padding: 40px 20px;
}

.contact h3 {
    font-size: 18px;
    padding: 0px 16px;
}
.waysToConnect {
    display: flex;
    justify-content: space-around;
    width: 300px;
    text-align: right;
    padding-bottom: 24px;
}

/* social media and email */
.waysToConnect a{
    font-size: 24px;
    text-decoration: none;
    color: #ffffff !important;
}

.waysToConnect .fa-envelope-o:hover {
    color: #CF9C98;
}

.waysToConnect .fa-linkedin:hover {
    color: #CF9C98;
}

.waysToConnect .fa-behance:hover {
    color: #CF9C98;
}

.waysToConnect .fa-dribbble:hover {
    color: #CF9C98;
}

.waysToConnect .fa-instagram:hover {
    color: #CF9C98;
}

/* footer navigation*/
/* divider line */
hr.footerDivider {
    border-top: 1px solid #CF9C98;
    margin: 0px; /* removing default 8px margin */
}

/* remove border white line */
hr {
    border: none;
}

/* bottom foooter */
/* align logo */
.logoFooter img{
    height: 16px; 
    /*justify-content: space-around;*/
    padding:1%;
    text-align: center;
    text-decoration: none;
}

.navBarFooter {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11161C;
    padding:0px 24px;
    height: 40px;
}

/* Footer copywrite*/
.navCopywriteFooter {
    display: flex;
}

.navBarFooter a {
    float: left;   
    color: #ffffff; /* all of the achor tags on the navBar white */
    text-decoration: none; /* removing underline */
    font-size: 12px;
}

/* Current page with a different colour in nagivation*/
.currentPg a {
    color: #CF9C98 !important;
    font-weight: 500;
}

/* Mobile Media Query at 800px */
@media only screen and (max-width: 800px) {
    .logo div{
        height: 30px !important;
    }

    .hamburgerBtn {
        display: flex;
    }

    /* content image responsive to display before about me */
    .content {
        height: auto !important;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 40px !important;
        margin-left: 40px !important;
        margin-right: 40px !important;
    }
    /* hero image responsive */
    .content .heroImg img{
        position:static !important;
        width: 100%;
        height: auto;
        align-items: center;
        margin: auto;
        z-index: 100 !important;
        text-align: center;
    }

    /* about me responsive */
    .introduction {
        position:static !important;
        width: 100% !important;
        margin: 0 auto;
    }

    .container {
        width: 90% !important;
        padding: 16px 16px !important;
    }

    .container ul {
        padding-inline-start: 32px;
    }

    .flexContainer {
        flex-direction: column;
    }

    .flexContainer div{
        width: 100%;    
    }

    .flexContainerAbout {
        flex-direction: column;
    }

    .flexContainerAbout div{
        width: 100%;    
    }

    .flexContainerProjects {
        flex-direction: column;
    }

    .flexContainerProjects div{
        width: 100%;    
    }
    .card {
        margin: 8px 0px;
    }

    .mySkills {
        padding: 16px 40px 24px 40px;
    }

    .myProjects {
        padding: 16px 40px 24px 40px;
    }
}
